<div class="flex relative pb-12">
  <% unless last_item %>
    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
      <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
    </div>
  <% end %>
  <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
      <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
      <path d="M22 4L12 14.01l-3-3"></path>
    </svg>
  </div>
  <div class="flex-grow pl-4">
    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"><%= "Day #{itinerary['day']}" %></h2>
    <div class="leading-relaxed mb-5">
        <%= itinerary['hotel']['name'] %>
      <div class="block text-sm">
        <span class="font-medium">Address:</span> <%= itinerary['hotel']['address'] %>
        <span class="font-medium">Rating:</span> <%= itinerary['hotel']['rating'] %>
        <%= link_to "More info", itinerary['hotel']['url'], class: "text-sm text-indigo-500 hover:underline", target: "_blank" %>
      </div>
    </div>
    <dl class="text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700 w-full">
      <% itinerary['activities'].each do |activity| %>
        <div class="flex flex-col pb-3 w-full">
            <dt class="mb-1 text-sm font-medium"><%= activity['name'] %></dt>
            <dd class="text-sm"><%= activity['description'] %></dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>