<%= render "shared/title" %>
<%= render "shared/main_features" %>
<section class="py-20">
  <div class="container mx-auto px-16 items-center flex flex-col lg:flex-row">
    <%= turbo_frame_tag "new_itinerary_form" do %>
      <%= render partial: 'itineraries/form', locals: { post: @itenerary } %>
    <% end %>
  </div>
</section>
<%= render "shared/grow_business" %>